<div [hidden]="switch2">

  <h3>List of Ingredients</h3>

  <div style="padding:50px">


    <form class="searchBox" fxFlex = "30" fxLayout = "column">

      <button #addNewIngredientButton mdl-button mdl-button-type="raised" mdl-colored="primary"
              mdl-ripple (click)=onSwitch()>Add New Ingredient
      </button>

      <div class="input-group input-group-sm">
        <md-input-container>
          <md-icon mdPrefix style="color:mediumpurple;font-size:120%">search</md-icon>
          <input #searchBox type="search"  mdInput class="form-control">
          <!--<input #searchBox>-->
          <md-placeholder>Ingredient Name</md-placeholder>
        </md-input-container>
        <p>
          <button md-raised-button type="submit" (click)="showSearchResults(searchBox.value)">Search</button>
          <button md-raised-button type="submit" (click)="resetSearchResults(); searchBox.value = ''">Reset</button>
        </p>
      </div>
    </form>
  </div>
  <table style="padding:50px">
    <tr>
      <!-- <th>Id</th> -->
      <th>Name</th>
      <th>Description</th>
      <th>Default Unit</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let ingredient of ingredients">
      <!-- <td>{{ingredient._id}}</td> -->
      <td>{{ingredient.name}}</td>
      <td>{{ingredient.description}}</td>
      <td>{{ingredient.defaultUnit.unit}}</td>
      <td><button md-raised-button (click)="editEnabled(ingredient, ingredient.defaultUnit)">Edit</button></td>
      <td><button md-raised-button [routerLink]="['/conversion-table',ingredient._id]">Conversion Table</button>
    </tr>
  </table>

</div>

<div [hidden]="switch ">
  <app-add-ingredient [units]=units></app-add-ingredient>
</div>

<div [hidden]="switch3">

  <app-edit-ingredient [units]=units [myIngredient]=myIngredient [myUnit]=myUnit [delButtonEnabled]=deleteButtonEnabled></app-edit-ingredient>

</div>



