<h3>List of Ingredients</h3>

<div style="padding: 30px">
    <button md-raised-button onclick="">Add New Ingredient</button>

    <form class="searchBox" fxFlex = "30" fxLayout = "column">
      <div class="input-group input-group-sm">
        <md-input-container>
          <md-icon mdPrefix style="color:mediumpurple;font-size:120%">search</md-icon>
          <input #searchBox type="search"  mdInput class="form-control">
          <!--<input #searchBox>-->
          <md-placeholder>Ingredient Name</md-placeholder>
        </md-input-container>
        <p>
          <button md-raised-button type="submit" (click)="showSearchResults(searchBox.value)">Search</button>
          <button md-raised-button type="submit" (click)="resetSearchResults(); searchBox.value = ''">Reset</button>
        </p>
      </div>
    </form>
</div>

<table style="padding:500px">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th> 
    <th>Default Unit</th> 
    <th></th>
  </tr>
  <tr *ngFor="let ingredient of ingredients">
    <td *ngIf="ingredient">{{ingredient._id}}</td>
    <td>{{ingredient.name}}</td>
    <td>{{ingredient.description}}</td> 
    <td>{{ingredient.defaultUnit.unit}}</td>
    <td><button md-raised-button onclick="">Edit</button></td> 
  </tr>
</table>


 
