
  <!--md-input-container>
    <input type="text" mdInput [formControl]="myControl" [mdAutocomplete]="auto">
  </md-input-container>
  <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayFn">
    <md-option *ngFor="let ingredient of filteredIngredients | async" [value]="ingredient.name">
      {{ ingredient.name }}
    </md-option>
  </md-autocomplete-->
  <h3>Recipe Ingredients</h3>
<form #f="ngForm">
  <!--md-select placeholder="Igredient" name="ingredient">
    <md-option *ngFor="let ingredient of ingredients" [value]="ingredient._id">
      {{ ingredient.name }}
    </md-option>
  </md-select-->
  <div>
    <label>Ingredient: </label>
      <select placeholder="Igredient" [(ngModel)]="selectedIngredient" name="ingredient"
              #formIngredient>
      <option  *ngFor="let ingredient of ingredients"
              [ngValue]="ingredient" ngDefaultControl>
        {{ ingredient.name }}
      </option>
    </select>
  </div>
  <div>
    <label>Quantity: </label>
    <input [(ngModel)]="quantity" name="quantity">
  </div>
  <div>
    <label>Unit: </label>
    <select placeholder="Unit" [(ngModel)]="selectedUnit" name ="unit" #formUnit>
      <option  *ngFor="let unit of units" [ngValue]="unit"
              ngDefaultControl>
        {{unit.unit}}
      </option>
    </select>
  </div>
  <div>
    <button md-raised-button (click)="addIngredient()">Add Ingredient</button>
  </div>
</form>

  <div >
    <md-table #table [dataSource]="dataSource">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Ingredient ID Column -->
      <ng-container cdkColumnDef="ingredientId">
        <md-header-cell *cdkHeaderCellDef> ID </md-header-cell>
        <md-cell *cdkCellDef="let recipeIngredient"> {{recipeIngredient.ingredient._id}} </md-cell>
      </ng-container>

      <!-- Ingredient Name Column -->
      <ng-container cdkColumnDef="ingredientName">
        <md-header-cell *cdkHeaderCellDef> Ingredient </md-header-cell>
        <md-cell *cdkCellDef="let recipeIngredient"> {{recipeIngredient.ingredient.name}} </md-cell>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container cdkColumnDef="quantity">
        <md-header-cell *cdkHeaderCellDef> Quantity </md-header-cell>
        <md-cell *cdkCellDef="let recipeIngredient"> {{recipeIngredient.quantity}} </md-cell>
      </ng-container>

      <!-- Unit ID Column -->
      <ng-container cdkColumnDef="unitId">
        <md-header-cell *cdkHeaderCellDef>Unit ID</md-header-cell>
        <md-cell *cdkCellDef="let recipeIngredient" > {{recipeIngredient.unit._id}} </md-cell>
      </ng-container>

      <!-- Unit description Column -->
      <ng-container cdkColumnDef="unit">
        <md-header-cell *cdkHeaderCellDef>Unit</md-header-cell>
        <md-cell *cdkCellDef="let recipeIngredient" > {{recipeIngredient.unit.unit}} </md-cell>
      </ng-container>

      <!-- Edit Button Column -->
      <ng-container cdkColumnDef="edit">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let recipeIngredient" > {{recipeIngredient.unit.unit}} </md-cell>
      </ng-container>

      <!-- Delete Button Column -->
      <ng-container cdkColumnDef="delete">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let recipeIngredient" >
          <button md-raised-button (click)="removeIngredient(recipeIngredient)" >Delete</button>
        </md-cell>
      </ng-container>

      <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
      <md-row *cdkRowDef="let recipeIngredient; columns: displayedColumns;"></md-row>
    </md-table>
  </div>
