mat-grid-list {
  max-width: 1403px;
}

.list-recipe {
  margin: 20px 70px 50px 70px;
}

h1 {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
  padding: 50px;
  color: hsla(0,0%,100%,.87);
}

.page-header {
  background: #673ab7;
  align-items: center;
  justify-content: center;
}

.page-header button {
  color: hsla(0,0%,100%,.87);
  background-color:mediumpurple;
}
