<md-toolbar>
  <md-toolbar-row>
    <button md-button routerLink="/"><fa [name]="'book'" [size]="2"></fa>{{title}}</button>
    <button md-button routerLink='/addrecipie'>Add Recipe</button>
    <button md-button routerLink='/viewrecipe'>View Recipe</button>
    <span class="example-spacer"></span>
    <md-input-container aria-setsize="1">
      <input mdInput placeholder="keyword" value ="">
    </md-input-container>
    <button md-button routerLink="/users"><fa [name]="'users'" [size]="2"></fa> Users</button>
    <button md-button routerLink="/login"><fa [name]="'sign-in'" [size]="2"></fa> Sign In</button>
  </md-toolbar-row>
</md-toolbar>
