<div>
  <h3>Recipe Search</h3>

  <div>
    <label>Search Recipe by  (works just with Title): </label> 
    <app-search-criterion-selector (select)="criterion = $event"></app-search-criterion-selector>
    {{criterion}}
  </div>
  <br />
  <input #searchBox (keyup)="search(searchBox.value)" />
  <button (click)="showResults()">
    Search
  </button>
  <!--<div>
    <div *ngFor="let ingredient of ingredients | async"
         class="search-result" >
      {{ingredient.name}}
    </div>
  </div>-->
  
  <md-list>
    <md-list-item *ngFor="let recipe of recipes | async">
        <h4>{{recipe.title}}</h4>
    </md-list-item>

  </md-list>
</div>
