<div>
  <h2>{{header}}</h2>
</div>

<form class="example-form"  #recipeForm="ngForm" *ngIf="recipe">
  <md-input-container class="example-full-width" >
    <input mdInput placeholder={{recipeName}} name="recipeName" [(ngModel)]="editRecipe.title" required >
  </md-input-container>
  <table class="example-full-width" cellspacing="0"><tr>
    <app-category [categories]="categories" (notify)="onNotifyCategories($event)"></app-category>
    <tr>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder={{numberOfServings}} type="number" name="numberOfServings" [(ngModel)]="editRecipe.numberOfServings" required>
    </md-input-container></td>
  </tr></table>

   <table class="example-full-width" cellspacing="0"><tr>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder={{preparationTime}} name="preparationTime" type="number" [(ngModel)]="editRecipe.preparationTime" required>
    </md-input-container></td>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder={{cookingTime}} name="cookingTime" type="number" [(ngModel)]="editRecipe.cookingTime" required>
    </md-input-container></td>
  </tr>
  </table>
  <!-- Recipe ingredient component -->
  <app-recipe-ingredient [recipeIngredients]="recipeIngredients" (notify)="onNotifyIngredients($event)"></app-recipe-ingredient>
  <input mdInput hidden name="ingredient" [(ngModel)]="editRecipe.recipeIngredients" required>
  <div *ngIf="!editRecipe.recipeIngredients || editRecipe.recipeIngredients.length==0" style="color: red">Recipe must have at least one ingredient.</div>
  <md-input-container class="example-full-width">
    <textarea rows="10" cols="100" mdInput placeholder={{description}} name="description" [(ngModel)]="editRecipe.description" required>
    </textarea>
  </md-input-container>

  <div *ngIf="recipeForm.form.invalid" style="color: red">Fill in the required fields in order to edit the recipe.</div>
  <table>
    <tr>
      <td>
      <button type="submit" md-raised-button (click)="updateRecipe(recipe._id)" [disabled]="!recipeForm.form.valid">Update </button>
      </td>
      <td>
        <button md-raised-button (click)="goBack()">{{back}}</button>
      </td>

    </tr>
  </table>

</form>
