<div>
  <h2>{{header}}</h2>
</div>

<form class="example-form" (ngSubmit)="updateRecipe(recipe._id)" #recipeForm="ngForm" *ngIf="recipe">
  <md-input-container class="example-full-width" >
    <input mdInput placeholder={{recipeName}} name="recipeName" [(ngModel)]="editRecipe.title" required >
  </md-input-container>
  <table class="example-full-width" cellspacing="0"><tr>
    <app-category [categories]="categories" (notify)="onNotifyCategories($event)"></app-category>
    <tr>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder={{numberOfServings}} name="numberOfServings" [(ngModel)]="editRecipe.numberOfServings" required>
    </md-input-container></td>
  </tr></table>

   <table class="example-full-width" cellspacing="0"><tr>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder={{preparationTime}} name="preparationTime" [(ngModel)]="editRecipe.preparationTime" required>
    </md-input-container></td>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder={{cookingTime}} name="cookingTime" [(ngModel)]="editRecipe.cookingTime" required>
    </md-input-container></td>
  </tr>
  </table>
  <!-- Recipe ingredient component -->
  <app-recipe-ingredient [recipeIngredients]="recipeIngredients" (notify)="onNotifyIngredients($event)"></app-recipe-ingredient>

  <md-input-container class="example-full-width">
    <textarea rows="10" cols="100" mdInput placeholder={{description}} name="description" [(ngModel)]="editRecipe.description" required>
    </textarea>
  </md-input-container>

  <table>
    <tr>
      <td>
      <button type="submit" md-raised-button [disabled]="!recipeForm.form.valid">Update </button>
      </td>
      <td>
        <button type="submit" md-raised-button (click)="goBack()">{{back}}</button>
      </td>

    </tr>
  </table>

</form>
