:host {
  display: flex;
  flex: 1;
}

.content {
  background-color: rgba(218, 218, 218, 0.21);
  flex: 1 1 auto;
  position: relative;/* need this to position inner content */
  overflow-y: auto;
}


.sidebar {
  -webkit-box-shadow: 3px 0 6px rgba(0,0,0,.24);
  -moz-box-shadow: 3px 0 6px rgba(0,0,0,.24);
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.header{
  -webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  -moz-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  color: hsla(0,0%,100%,.87);
  z-index: 10;
  flex: 0 0 auto;
}


