<h3>User Detail</h3>
<form>
  <div>
    <md-input-container>
      <input mdInput placeholder="First Name" required>
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Last Name" required>
    </md-input-container>
  </div>
  <div>
    <md-input-container>
      <input mdInput placeholder="E-mail" required>
    </md-input-container>
  </div>
  <div>
    <md-input-container>
      <input mdInput placeholder="Phone" required>
    </md-input-container>
  </div>
  <div>
    <md-input-container>
      <input mdInput placeholder="User ID" required>
    </md-input-container>
  </div>
  <div>
    <md-input-container>
      <input mdInput placeholder="Password" required>
    </md-input-container>
  </div>
  <div>
    <button md-raised-button>Submit</button>
  </div>
</form>
