<div>
  <h2>{{header}}</h2>
</div>

<form class="example-form" #recipeForm="ngForm">
  <md-input-container class="example-full-width">
    <input mdInput placeholder={{title}} name="recipeName" [(ngModel)]="addRecipe.title" required >
  </md-input-container>

  <table class="example-full-width" cellspacing="0"><tr>
    <app-category (notify)="onNotifyCategories($event)"></app-category>
    <input hidden name="category" mdInput [(ngModel)]="addRecipe.category" required>
    <div *ngIf="!addRecipe.category" style="color: red">Recipe must have at least one category.</div>
    <tr>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder={{numberOfServings}} type="number" name="numberOfServings" [(ngModel)]="addRecipe.numberOfServings" required>
    </md-input-container></td>
  </tr></table>

   <table class="example-full-width" cellspacing="0"><tr>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder={{preparationTime}} type="number" name="preparationTime" [(ngModel)]="addRecipe.preparationTime" required>
    </md-input-container></td>
     <td><md-input-container class="example-full-width">
       <input mdInput placeholder={{cookingTime}} type="number" name="cookingTime" [(ngModel)]="addRecipe.cookingTime" required>
     </md-input-container></td>
    </tr>

  </table>

  <!-- Recipe ingredient component -->
  <app-recipe-ingredient (notify)="onNotifyIngredients($event)"></app-recipe-ingredient>
  <input mdInput hidden name="ingredient" [(ngModel)]="addRecipe.recipeIngredients" required>
  <div *ngIf="!addRecipe.recipeIngredients || addRecipe.recipeIngredients.length == 0" style="color: red">Recipe must have at least one ingredient.</div>
  <md-input-container class="example-full-width">
    <textarea rows="10" cols="100" mdInput placeholder={{description}} name="description" [(ngModel)]="addRecipe.description" required>
    </textarea>
  </md-input-container>

  <!--image upload-->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a>Image Upload</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <form>
          <div class="form-group">
            <label for="multiple"><b>Multiple</b></label>
            <input type="file" class="form-control" name="multiple" ng2FileSelect [uploader]="uploader" multiple  />
          </div>
          <div class="form-group">
            <label for="single"><b>Single</b></label>
            <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" />
          </div>
        </form>
      </div>
      <div class="col-md-8">

        Queue length: {{ uploader?.queue?.length }}

        <table class="table">
          <thead>
          <tr>
            <th width="50%">Name</th>
            <th>Size</th>
            <th>Progress</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of uploader.queue">
            <td><strong>{{ item.file.name }}</strong></td>
            <td nowrap>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>
            <td>
              <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
              </div>
            </td>
            <td class="text-center">
              <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
              <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
              <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </td>
            <td nowrap>
              <button type="button" class="btn btn-success btn-xs"
                      (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                <span class="glyphicon glyphicon-upload"></span> Upload
              </button>
              <button type="button" class="btn btn-warning btn-xs"
                      (click)="item.cancel()" [disabled]="!item.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
              </button>
              <button type="button" class="btn btn-danger btn-xs"
                      (click)="item.remove()">
                <span class="glyphicon glyphicon-trash"></span> Remove
              </button>
            </td>
          </tr>
          </tbody>
        </table>

        <div>
          <div>
            Queue progress:
            <div class="progress" style="">
              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
            </div>
          </div>
          <button type="button" class="btn btn-success btn-s"
                  (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
            <span class="glyphicon glyphicon-upload"></span> Upload all
          </button>
          <button type="button" class="btn btn-warning btn-s"
                  (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
          </button>
          <button type="button" class="btn btn-danger btn-s"
                  (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
            <span class="glyphicon glyphicon-trash"></span> Remove all
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="recipeForm.form.invalid" style="color: red">Fill in the required fields in order to add the recipe.</div>
  <table>
    <tr>
      <td>
      <button type="submit" md-raised-button (click)="save()" [disabled]="!recipeForm.form.valid">{{submit}}</button>
      </td>
      <td>
        <button type="submit" md-raised-button (click)="goBack()">{{back}}</button>
      </td>
    </tr>
  </table>
</form>
