<div>
  <h2>{{header}}</h2>
</div>

<form class="example-form" #recipeForm="ngForm">
  <md-input-container class="example-full-width">
    <input mdInput placeholder={{title}} name="recipeName" [(ngModel)]="addRecipe.title" required >
  </md-input-container>

  <table class="example-full-width" cellspacing="0"><tr>
    <app-category (notify)="onNotifyCategories($event)"></app-category>
    <input hidden name="category" mdInput [(ngModel)]="addRecipe.category" required>
    <div *ngIf="!addRecipe.category" style="color: red">Recipe must have at least one category.</div>
    <tr>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder={{numberOfServings}} type="number" name="numberOfServings" [(ngModel)]="addRecipe.numberOfServings" required>
    </md-input-container></td>
  </tr></table>

   <table class="example-full-width" cellspacing="0"><tr>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder={{preparationTime}} type="number" name="preparationTime" [(ngModel)]="addRecipe.preparationTime" required>
    </md-input-container></td>
     <td><md-input-container class="example-full-width">
       <input mdInput placeholder={{cookingTime}} type="number" name="cookingTime" [(ngModel)]="addRecipe.cookingTime" required>
     </md-input-container></td>
    </tr>

  </table>

  <!-- Recipe ingredient component -->
  <app-recipe-ingredient (notify)="onNotifyIngredients($event)"></app-recipe-ingredient>
  <input mdInput hidden name="ingredient" [(ngModel)]="addRecipe.recipeIngredients" required>
  <div *ngIf="!addRecipe.recipeIngredients || addRecipe.recipeIngredients.length == 0" style="color: red">Recipe must have at least one ingredient.</div>
  <md-input-container class="example-full-width">
    <textarea rows="10" cols="100" mdInput placeholder={{description}} name="description" [(ngModel)]="addRecipe.description" required>
    </textarea>
  </md-input-container>

  <div *ngIf="recipeForm.form.invalid" style="color: red">Fill in the required fields in order to add the recipe.</div>
  <table>
    <tr>
      <td>
      <button type="submit" md-raised-button (click)="save()" [disabled]="!recipeForm.form.valid">{{submit}}</button>
      </td>
      <td>
        <button type="submit" md-raised-button (click)="goBack()">{{back}}</button>
      </td>
    </tr>
  </table>
</form>
