<md-sidenav mode="side" fxLayout="column">
  <md-nav-list>

    <md-list-item>
      <a href="/recipe" aria-label="new recipe">
        <md-icon aria-hidden="true">add_box</md-icon>
        New Recipe
      </a>
    </md-list-item>

    <md-list-item>
      <a href="/ingredients" aria-label="ingredient">
        <md-icon aria-hidden="true">shopping_basket</md-icon>
        Ingredient
      </a>
    </md-list-item>

    <md-list-item>
      <a href="/detailed-search" aria-label="detailed search">
        <md-icon aria-hidden="true">search</md-icon>
        Search
      </a>
    </md-list-item>

    <md-list-item>
      <a href="/inventory" aria-label="inventory">
        <md-icon aria-hidden="true">store</md-icon>
        Inventory
      </a>
    </md-list-item>

    <md-list-item>
      <a href="/users" aria-label="users">
        <md-icon aria-hidden="true">group</md-icon>
        Users
      </a>
    </md-list-item>

    <md-list-item>
      <a href="/users" aria-label="authorization">
        <md-icon aria-hidden="true">settings</md-icon>
        Authorization
      </a>
    </md-list-item>
    <md-list-item>
      <a href="/profit-margin" aria-label="profitmargin">
        <md-icon aria-hidden="true">Profit Margin</md-icon>
        Profit Margin
      </a>
    </md-list-item>
  </md-nav-list>
</md-sidenav>