md-list-item{
  width:100%;
  border-bottom: 1px solid;
  margin: 0;
  padding: 0;
  border-color: rgba(0,0,0,.06);
}

md-list-item a{
  color: rgba(0, 0, 0, .54);
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 47px;
  text-decoration: none;
  transition: all .3s;
  position: relative;
}
md-icon {
  vertical-align: middle;
}


